 /*MEDIA QUERIES*/

 @media screen and (max-width: 768px) {

    .header__logo{
        width: 12rem;
 }
    


    #grilla{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 0.7rem;
        row-gap: 0.7rem;
}

    .form__title{
        margin-top: 12rem;
    }

    .tec__title{
        font-size: 2.5rem;
    }

    .gal__title{
        font-size: 2.5rem;
    }
 }

@media screen and (max-width: 590px) {

.header__logo{
        width: 10rem;
 }
    
.tec__title{
        font-size: 2rem;
}
    
.tec__section{
        display: flex;
        flex-direction: column;
   }

.gal__title{
        font-size: 2rem;
}

.form{
        padding: 5rem;
}
}

@media screen and (max-width: 425px) {


     .main__title{
            font-size: 3rem;
            padding: 5rem  1rem;
            &__item{
                    font-size: 1.5rem;
                }
        }

    
    #grilla{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 0.7rem;
        row-gap: 0.7rem;
    } 

    .tec__title{
        font-size: 2rem;
    }
    
    .gal__title{
        font-size: 2rem;
    }
    .form{
        padding: 4rem;
    }

    .form__title {
        margin-top: 15rem;
        font-size: 1rem;
    }
}

